
.todo-list{
    background-color: rgb(198, 251, 251);
    margin: auto;
    padding: 20px;
    width: 50%;
    box-sizing: content-box;
    border: solid 0.1px cyan;
    border-radius: 10px;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="text"]{
    width: 70%;    
    height: 20px;
}

.list{
    list-style: none;
    text-align: start;
    list-style-position: outside;
}
.checked{
    text-decoration: line-through;
}